/* リセットcss */
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #75b9be;
}
* {
  box-sizing: border-box;
}

a {
  color: #0044cc;
}

button {
  width: 70px;
  height: 40px;
  margin-right: 5px;
  border-radius: 20px;
  border: none;
  background-color: #c7d66d;
}
button:hover {
  background-color: #75b9be;
  color: white;
  cursor: pointer;
  display: inline-block;
}
.sign_in{
  display: block;
  width: 250px;
  height: 60px;
  margin: 330px auto;  
  font-size: 20px;
  font-family: 'Comic Sans MS';
}
.sign_in:hover{
  display: block;
  margin: 330px auto;  
  background-color: #0df79d;
  color: white;
  cursor: pointer;
  font-family: 'Comic Sans MS';
}